@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

.swiper-pagination-bullet {
  background-color: #9ca3af !important; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #6b7280 !important;
}

:root {
  --background: #ffffff;
  --foreground: black;
}
/* Make Swiper pagination dots grey by default */
.swiper-pagination-bullet {
  background-color: #9ca3af; /* Tailwind gray-400 */
  opacity: 1; /* fully visible */
}

/* Make the active dot a darker grey */
.swiper-pagination-bullet-active {
  background-color: #6b7280; /* Tailwind gray-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica";
}

.extended-diagonal {
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

@keyframes slide-in {
      0% {
        transform: translateX(100%);
        opacity: 1;
      }
      100% {
        transform: translateX(-100%);
        opacity: 1;
      }
    }

    .animate-slide-in {
      animation: slide-in 20s linear infinite;
    }

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  .animated-gradient-text {
    background: linear-gradient(90deg, #8E2DE2, #4A00E0, #E91E63,#8E2DE2);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 6s linear infinite;
  }

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}
@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slide-in-left 0.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

@keyframes slide-in-left-limited {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100%{
    transform:translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left-limited {
  animation:slide-in-left-limited 0.5s ease-in forwards;
}

@keyframes marquee {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-50%);
  }
}

.animate-marquee{
  animation: marquee 20s linear infinite
}